*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body, html, .app {
  height: 100%;
  background-color: #003264;
  color: #fff;
  /* padding: 20px; */
}

.app {
  padding: 1rem;
}

header {
  font-family: righteous, sans-serif;
  font-size: 0.6em;
  display: flex;
  justify-content: space-between;
  align-items: cen ter;
  margin-bottom: 5px;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 40px;
  width: 40px;
  object-fit: contain;
  margin-bottom: 5px;
}

.connect-wallet {
  background-color: #3B82F6;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.connect-wallet:hover {
  background-color: #2d199b;
}

.main-content {
  background-color: #D3EAFF;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2.25fr;
  gap: 20px;
  border-radius: 10px;
  color: #fffefe;
}

.counter-box {
  background-color: #3B82F6;
  padding: 20px;
  border-radius: 10px;
  /* min-width: 250px; */
  text-align: center;
  font-weight: normal;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: auto;
}

.counter-box h2 {
  font-weight: normal;
  font-size: 20px;
}

.counter-box .count {
  font-size: 25px;
}

.counter-box .btns button {
  font-size: 20px;
  margin: 0 5px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: limegreen;
  color: white;
  cursor: pointer;
}

.counter-box .btns button:last-child {
  background-color: grey;
}
.wallets-header {
  display: flex;
  align-items: center;
 justify-content: space-between;
  margin-bottom: 15px;
}

.history-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.history-icon {
  background-color: #D3EAFF;
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}

.history-icon:hover {
  transform: scale(1.1);
}

.wallets {
  flex: 1;
  height: 450px;
  overflow-y: auto;
  margin-top: 1rem;
  border-radius: 8px;
}


.wallets::-webkit-scrollbar {
  width: 6px;
}

.wallets::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.wallets::-webkit-scrollbar-track {
  background-color: transparent;
}

.create-new {
  background-color: #4caf50;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.create-new:hover {
  background-color: #306e32;
}

.wallet {
  background-color: #3B82F6;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wallet:hover {
  background-color: #2b65c0;
}

.card-container {
  flex-flow: column nowrap;
  background-color: #3B82F6;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  color: white;
  text-align: center;
  align-items: center;
}

.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  
}

.btn {
  padding: 4px 8px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.add {
  background-color: green;
}

.subtract {
  background-color: gray;
}

.delete {
  background-color: red;
}

.reset {
  background-color: lightgray;
  color: black;
}



.wallet-actions {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.wallet-address {
  background-color: #3498db;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: default;
}

.logout {
  background-color: #e74c3c;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.5s;
}

.logout:hover {
  background-color: #c0392b;
}

@media (width < 800px) {
  .main-content{
    grid-template-columns: 1fr;
  }
  .wallets-section{
   position: relative;
}
  .counter-box{
    margin-top: 2rem;
  }
  .create-new{
    position: absolute;
    top: 70%;
    left: 85%;
    font-size: 0.7rem;
    padding: 6px 8px;
  }
}